USE [master]
GO
/****** Object:  Database [ClickNDine]    Script Date: 23/5/2025 11:39:31 ******/
CREATE DATABASE [ClickNDine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClickNDine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ClickNDine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClickNDine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ClickNDine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClickNDine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClickNDine]
GO
/****** Object:  User [alumno]    Script Date: 23/5/2025 11:39:31 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 23/5/2025 11:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Img] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Menu]    Script Date: 23/5/2025 11:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[id_restaurante] [int] NULL,
	[id_categoria_FK] [int] NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NULL,
	[Img] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Disponible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 23/5/2025 11:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numero_mesa] [nvarchar](20) NULL,
	[FK_restaurante] [int] NULL,
	[Estado] [nvarchar](20) NULL,
	[ID_pedido] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 23/5/2025 11:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_ID_Usuario] [int] NULL,
	[TiempoCreacion] [datetime] NULL,
	[TiempoFinCocina] [datetime] NULL,
	[FK_ID_Item] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurante]    Script Date: 23/5/2025 11:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurante](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[N_Sucursal] [int] NULL,
	[FK_ID_Dueño] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 23/5/2025 11:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Factura] [nvarchar](50) NULL,
	[Medio_Pago] [nvarchar](50) NULL,
	[Propina] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
	[ID_Pedido] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/5/2025 11:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](20) NULL,
	[FK_id_restaurante] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Item_Menu]  WITH CHECK ADD FOREIGN KEY([id_categoria_FK])
REFERENCES [dbo].[Categoria] ([ID])
GO
ALTER TABLE [dbo].[Item_Menu]  WITH CHECK ADD FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[Restaurante] ([ID])
GO
ALTER TABLE [dbo].[Mesa]  WITH CHECK ADD FOREIGN KEY([FK_restaurante])
REFERENCES [dbo].[Restaurante] ([ID])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([FK_ID_Item])
REFERENCES [dbo].[Item_Menu] ([ID])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([FK_ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([ID_Pedido])
REFERENCES [dbo].[Pedido] ([ID])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([FK_id_restaurante])
REFERENCES [dbo].[Restaurante] ([ID])
GO
ALTER TABLE [dbo].[Mesa]  WITH CHECK ADD CHECK  (([Estado]='Reservada' OR [Estado]='Ocupada' OR [Estado]='Libre'))
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([Tipo]='Cocina' OR [Tipo]='Comensal' OR [Tipo]='Mesero' OR [Tipo]='Dueño'))
GO
USE [master]
GO
